@model List<MVC.PhoneBook.ResponseModels.UserResponseModel>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>

    <style>
        .styled-table {
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 0.9em;
            font-family: sans-serif;
            min-width: 400px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }

            .styled-table thead tr {
                background-color: #009879;
                color: #ffffff;
                text-align: left;
            }

            .styled-table th,
            .styled-table td {
                padding: 12px 15px;
            }

            .styled-table tbody tr {
                border-bottom: 1px solid #dddddd;
            }

                .styled-table tbody tr:nth-of-type(even) {
                    background-color: #f3f3f3;
                }

                .styled-table tbody tr:last-of-type {
                    border-bottom: 2px solid #009879;
                }
    </style>


    <table class="styled-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Company</th>
                <th>Update</th>
                <th>Remove</th>
                <th>Add User Info</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
            <tr>
                <td>@user.Name</td>
                <td>@user.Surname</td>
                <td>@user.Company</td>
                <td>
                    <a asp-action="Update" asp-controller="Home" asp-route-id="@user.UUID">Update</a>
                   
                </td>
                <td>
                    <a asp-action="Remove" asp-controller="Home" asp-route-id="@user.UUID">Remove</a>
                </td>
                <td>
                    <a asp-action="AddUserInfo" asp-controller="Home" asp-route-id="@user.UUID">AddUserInfo</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
    <a asp-action="Create" asp-controller="Home">Add New User</a>
</body>
</html>